body {
  max-width: 900px;
  margin: auto;
  padding: 10px;
  font-style: italic;
  background: url(hogwarts.jpg);
  text-align: center;
}

h1 {
  text-align: center;
}

.galleryphoto {
  width: 500px;
}

#data_holder {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
}

.gallerydiv {
  display: flex;
  flex-direction: column;
  flex: 3;
  justify-content: space-around;

}
